<html>
    <head><title>Legitimate Website!</title></head>
    <body>
    <h1>About Us</h1><!-- or something -->
    <p>Who are we?</p>
    <p>We are the most elite web developers EVAR.  Things we know how to do:
        <ul>
            <li>Serve web pages</li>
            <li>Add text to them</li>
            <li>Ignore security issues</li>
            <li>Use images from <a href="https://www.craiyon.com/">craiyon</a> under their free commercial license</li>
        </ul>
    </p>
    <img src="{{url_for('static', filename='moria_december.jpg')}}" />
    {% include 'navbar.html' %}
</body></html>
