<html>
    <head><title>Mines of Boria</title></head>
    <body>
    <h1>Admin Panel</h1><!-- or something -->
    <p>Admin panel v3.14</p>
    <p>Be sure not to do anything dumb like:
        <ul>
            <li>Give away user info</li>
            <li>Click on phishy links</li>
            <li>Code in Ruby</li>
        </ul>
    </p>
    <img src="{{url_for('static', filename='illustration2.jpg')}}" />
    {% include 'navbar.html' %}
    <!-- <a href='{{ url_for("maintenance") }}'>Maintenance</a> -->
</body></html>
