<html>
    <head><title>Legitimate Website!</title></head>
    <body>
    <h1>Legitimate Website!</h1><!-- or something -->
    <p>Who are we?</p>
    <p>We are the most elite web developers EVAR.  Things we know how to do:
        <ul>
            <li>Serve web pages</li>
            <li>Add text to them</li>
            <li>Ignore security issues</li>
            <li>Stand up against the Pastafarian Army</li>
        </ul>
    </p>
    <img src="{{url_for('static', filename='cyberr.png')}}" />
    {% include 'navbar.html' %}
</body></html>
