<html>
    <head><title>Mines of Boria</title></head>
    <body>
    <h1>Legitimately Boring!</h1><!-- or something -->
    <p>Who are we?</p>
    <p>We bore into the mines to pull out gems. Also, we:
        <ul>
            <li>Polish gems</li>
            <li>Serve web pages</li>
            <li>Ignore security issues</li>
            <li>Ignore strange sounds from the basement</li>
        </ul>
    </p>
    <img src="{{url_for('static', filename='gems-illustration.jpg')}}" />
    {% include 'navbar.html' %}
</body></html>
