<html>
    <head><title>Legitimate Website!</title></head>
    <body>
    <h1>Admin login page</h1><!-- or something -->
    <form action="/login.html" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Submit">
    </form> 
    {{ error }}
    {% include 'navbar.html' %}
</body></html>
